<a href="https://colab.research.google.com/github/shailendrajain2892/GA_DSMP_5Jan2019/blob/master/Capstone_Mahindra_First_Choice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Load Plant data 
**remove duplicate and null columns.**

In [0]:
plant_full_data = pd.read_csv('./drive/My Drive/Colab Notebooks/data/final_csv/plant.csv', index_col=0)

In [4]:
plant_full_data.head()

  Plant                          Name 1  ... Sales organization          State
0  BC07                      NERKUNDRAM  ...               MFCS     Tamil Nadu
1  BC30              SAS NAGAR - MOHALI  ...               MFCS         Punjab
2  X001       X001 - AUTO PLANET WHEELS  ...               MFCA    Maharashtra
3  X002  X002 - BHANDARI INDUSTRIES PVT  ...               MFCA  Uttar Pradesh
4  X003  X003 - Om Sri Satya Sai Automo  ...               MFCB      Karnataka

[5 rows x 13 columns]

In [5]:
plant_full_data.isnull().sum()

Plant                        0
Name 1                       0
Valuation Area               0
Customer no. - plant         0
Vendor number plant        436
Factory calendar             0
Name 2                       2
House number and street      2
PO Box                       1
Postal Code                  0
City                         0
Sales organization           5
State                        0
dtype: int64

In [6]:
plant_full_data.shape

(438, 13)

**Drop columns=['Vendor number plant', 'Valuation Area', 'Factory calendar', 'Name 2', 'House number and street', 'PO Box', 'Sales organization']**

In [0]:
plant = plant_full_data.drop(columns=['Vendor number plant', 'Valuation Area', 'Factory calendar', 'Name 2', 'House number and street', 'PO Box', 'Sales organization', 'Customer no. - plant'])

In [8]:
plant.shape

(438, 5)

In [9]:
plant.isnull().sum()

Plant          0
Name 1         0
Postal Code    0
City           0
State          0
dtype: int64

##Read Customer Data. 
**Remove Duplicate and Missing values columns**.

In [10]:
customer_full_data = pd.read_csv('./drive/My Drive/Colab Notebooks/data/final_csv/customer.csv', index_col=0)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
customer_full_data.head()

  Business Partner Customer No.  ...  Date of Birth Death date
0               31            1  ...            NaN        NaN
1               32            2  ...            NaN        NaN
2               34            4  ...            NaN        NaN
3               35            5  ...            NaN        NaN
4               42            7  ...            NaN        NaN

[5 rows x 9 columns]

In [12]:
customer_full_data.shape

(555338, 9)

In [13]:
customer_full_data.isnull().sum()

Business Partner         0
Customer No.             0
Partner Type            78
Data Origin            136
Title                46307
Marital Status      539301
Occupation          540780
Date of Birth       541894
Death date          554675
dtype: int64

In [0]:
customer = customer_full_data.drop(columns = ['Marital Status', 'Occupation', 'Date of Birth', 'Death date'])

In [15]:
customer.dtypes

Business Partner     object
Customer No.         object
Partner Type        float64
Data Origin          object
Title               float64
dtype: object

In [16]:
customer.isnull().sum()

Business Partner        0
Customer No.            0
Partner Type           78
Data Origin           136
Title               46307
dtype: int64

**FIll Missing Values in Partner Type, Data Origin, Title columns with most_frequently used values.**

In [0]:
most_frequent_value = customer['Partner Type'].mode()
customer['Partner Type'] = customer['Partner Type'].fillna(most_frequent_value[0])

In [0]:
customer['Data Origin'] = customer['Data Origin'].fillna(customer['Data Origin'].mode()[0])

In [0]:
customer['Title'] = customer['Title'].fillna(customer['Title'].mode()[0])

In [20]:
customer.isnull().sum()

Business Partner    0
Customer No.        0
Partner Type        0
Data Origin         0
Title               0
dtype: int64

##Load Vehicle Data. 
**Treat missing and nan values.**

In [21]:
vehicles_full_data = pd.read_csv('./drive/My Drive/Colab Notebooks/data/final_csv/vehicles.csv', index_col=0)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
vehicles_full_data.head()

  Vehicle Model  ... Fuel Type
0    Z_MAHINDRA  ...         2
1        Z_TATA  ...         2
2      Z_MARUTI  ...         1
3       Z_HONDA  ...         1
4      Z_MARUTI  ...         2

[5 rows x 4 columns]

In [23]:
vehicles_full_data.shape

(588761, 4)

In [24]:
vehicles_full_data.isnull().sum()

Vehicle Model               0
Product GUID                0
License Plate Number     2058
Fuel Type               15627
dtype: int64

***`Remove Product GUID column`***

In [0]:
vehicles = vehicles_full_data.drop(columns='Product GUID')

In [26]:
vehicles.shape

(588761, 3)

In [27]:
vehicles.isnull().sum()

Vehicle Model               0
License Plate Number     2058
Fuel Type               15627
dtype: int64

In [28]:
vehicles.dtypes

Vehicle Model           object
License Plate Number    object
Fuel Type               object
dtype: object

***`Remove vehicles which doesn't have License Plate Number`***

In [0]:
vehicles.dropna(subset=['License Plate Number'], inplace=True)

In [30]:
vehicles.shape

(586703, 3)

In [0]:
vehicles['Fuel Type'] = vehicles['Fuel Type'].fillna(vehicles['Fuel Type'].mode()[0])

In [32]:
vehicles.isnull().sum()

Vehicle Model           0
License Plate Number    0
Fuel Type               0
dtype: int64

## Load Invoice Data
Handle missing, duplicate data

In [33]:
invoice_full_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/final_csv/invoice.csv',index_col=0)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,10,14,15,21,41,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
invoice_full_data.head()

   Amt Rcvd From Custom  Amt Rcvd From Ins Co  ... Total Value  User ID
0                   0.0                   0.0  ...      420.09   GOLIVE
1                   0.0                   0.0  ...      179.75   GOLIVE
2                   0.0                   0.0  ...     1340.37   GOLIVE
3                   0.0                   0.0  ...     5506.45   GOLIVE
4                   0.0                   0.0  ...     5180.55   GOLIVE

[5 rows x 58 columns]

In [35]:
invoice_full_data.shape

(984741, 58)

In [0]:
columns_to_be_removed = invoice_full_data.isnull().sum()[invoice_full_data.isnull().sum().sort_values() > 29178].index

In [0]:
invoice = invoice_full_data.drop(columns=columns_to_be_removed)

In [38]:
invoice.shape

(984741, 28)

In [39]:
invoice.head(5)

  Area / Locality       CITY Cust Type  ...     Regn No Total Amt Wtd Tax. User ID
0             NaN     Nashik    Retail  ...  MH15BN2714             420.09  GOLIVE
1             NaN      THANE    Retail  ...  MH04DN6210             179.75  GOLIVE
2             NaN  Hyderabad    Retail  ...  AP11AB0153            1340.37  GOLIVE
3             NaN  Hyderabad    Retail  ...   AP9BJ4847            5506.45  GOLIVE
4             NaN  Hyderabad    Retail  ...  AP29BB4586            5180.55  GOLIVE

[5 rows x 28 columns]

In [0]:
columns_irrelevant = ['Area / Locality', 'Print Status', 'Gate Pass Time', 'Recovrbl Exp']

In [0]:
invoice = invoice.drop(columns=columns_irrelevant)

In [0]:
invoice.dropna(subset=['Regn No'], inplace=True)

In [43]:
invoice.isnull().sum().sort_values()

Labour Total             0
Regn No                  0
Plant Name1              0
Plant                    0
Pin code                 0
Parts Total              0
Order Type               0
OSL Total                0
Misc Total               0
Make                     0
Total Amt Wtd Tax.       0
User ID                  0
JobCard Time             0
JobCard Date             0
Job Card No              0
Invoice Time             0
Invoice No               0
Invoice Date             0
District                 0
Customer No.             0
KMs Reading              0
Cust Type                4
CITY                     4
Model                 1524
dtype: int64

In [0]:
invoice['Cust Type'] = invoice['Cust Type'].fillna(invoice['Cust Type'].mode()[0])
invoice['CITY'] = invoice['CITY'].fillna(invoice['CITY'].mode()[0])
invoice['Model']  = invoice['Model'].fillna(invoice['Model'].mode()[0])

In [45]:
invoice.isnull().sum().sort_values()

CITY                  0
Regn No               0
Plant Name1           0
Plant                 0
Pin code              0
Parts Total           0
Order Type            0
OSL Total             0
Model                 0
Misc Total            0
Make                  0
Labour Total          0
KMs Reading           0
JobCard Time          0
JobCard Date          0
Job Card No           0
Invoice Time          0
Invoice No            0
Invoice Date          0
District              0
Customer No.          0
Cust Type             0
Total Amt Wtd Tax.    0
User ID               0
dtype: int64

## Read JTD data
* Handle missing and duplicate data.

In [46]:
jtd = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/final_csv/jtd.csv', index_col=0)

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [47]:
jtd.head()

   DBM Order  Order Item  ... Target quantity UoM Net value
0      98050          10  ...                  EA   5185.92
1      98050          20  ...                  EA   1433.49
2      98050          30  ...                  EA   1526.88
3      98050          40  ...                  EA   1433.49
4      98050          50  ...                  EA   1526.88

[5 rows x 9 columns]

In [48]:
jtd.shape

(5619484, 9)

In [49]:
jtd.isnull().sum().sort_values()

DBM Order                    0
Order Item                   0
Item Category                0
Order Quantity               0
Net value                    0
Material                 51629
Description              51629
Target quantity UoM      51629
Labor Value Number     3774033
dtype: int64

## Merge the Data
**Merge Invoice and Customer Data on Customer No. Key**

In [0]:
invoice['Customer No.'] = invoice['Customer No.'].str.lstrip('0')

In [0]:
customer['Customer No.'] = customer['Customer No.'].astype(str)

In [0]:
invoice_customer = pd.merge(invoice, customer, on='Customer No.')

In [53]:
invoice_customer.shape, len(invoice['Customer No.'].unique()), len(customer['Customer No.'].unique()), len(invoice_customer['Customer No.'].unique())

((981217, 28), 502770, 555338, 502480)

In [64]:
invoice_customer.isnull().sum()

CITY                  0
Cust Type             0
Customer No.          0
District              0
Invoice Date          0
Invoice No            0
Invoice Time          0
Job Card No           0
JobCard Date          0
JobCard Time          0
KMs Reading           0
Labour Total          0
Make                  0
Misc Total            0
Model                 0
OSL Total             0
Order Type            0
Parts Total           0
Pin code              0
Plant                 0
Plant Name1           0
Regn No               0
Total Amt Wtd Tax.    0
User ID               0
Business Partner      0
Partner Type          0
Data Origin           0
Title                 0
dtype: int64

**Merge Vehicle and Invoice Customer df based on Registration number and License plat number**

In [55]:
invoice_customer.head()

     CITY Cust Type Customer No.  ... Partner Type Data Origin  Title
0  Nashik    Retail       E14006  ...          1.0        Z001    2.0
1  Nashik    Retail       E14006  ...          1.0        Z001    2.0
2  Nashik    Retail       E14006  ...          1.0        Z001    2.0
3  Nashik    Retail       E14006  ...          1.0        Z001    2.0
4  Nashik    Retail       E14006  ...          1.0        Z001    2.0

[5 rows x 28 columns]

In [0]:
invoice_customer['Regn No'] = invoice_customer['Regn No'].astype(str)

In [0]:
vehicles['License Plate Number'] = vehicles['License Plate Number'].astype(str)

In [58]:
vehicles['License Plate Number'].unique()

array(['MH12HN2835', 'TN10AL3462', 'AP28DG9695', ..., 'KA09Z6087',
       'TN30K7112', 'KA09MB290'], dtype=object)

In [59]:
invoice_customer.shape

(981217, 28)

In [0]:
invoice_customer_vehicles = pd.merge(invoice_customer, vehicles, left_on='Regn No', right_on='License Plate Number')

In [0]:
invoice_customer_vehicles.drop(columns='Regn No', inplace=True)

In [67]:
vehicles.isnull().sum()

Vehicle Model           0
License Plate Number    0
Fuel Type               0
dtype: int64

In [68]:
invoice_customer_vehicles.isnull().sum()

CITY                    0
Cust Type               0
Customer No.            0
District                0
Invoice Date            0
Invoice No              0
Invoice Time            0
Job Card No             0
JobCard Date            0
JobCard Time            0
KMs Reading             0
Labour Total            0
Make                    0
Misc Total              0
Model                   0
OSL Total               0
Order Type              0
Parts Total             0
Pin code                0
Plant                   0
Plant Name1             0
Total Amt Wtd Tax.      0
User ID                 0
Business Partner        0
Partner Type            0
Data Origin             0
Title                   0
Vehicle Model           0
License Plate Number    0
Fuel Type               0
dtype: int64

In [72]:
invoice_customer_vehicles.shape

(984165, 30)

**Merge invoice_customer_vehicles and Plant**

In [69]:
plant.shape

(438, 5)

In [76]:
len(invoice_customer_vehicles.Plant.unique()), len(plant.Plant.unique())

(431, 438)

In [0]:
invoice_customer_vehicles_plant = pd.merge(invoice_customer_vehicles, plant, on='Plant', how='left')

In [78]:
invoice_customer_vehicles_plant.shape

(984165, 34)